.top-crypto-currencies {
  padding-top: 70px;
  text-align: center;
  background: #070046;
  color: #f0f0f0;
}

.top-crypto-currencies h1 {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
}

.top-crypto-currencies h2 {
  margin-top: 30px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #f0f0f0, #f0f0f0);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  transition: color 1s ease-in-out;
  animation: background-move 1.5s ease-in-out infinite;
}

.top-crypto-currencies h2:hover {
  background-image: linear-gradient(
    to right,
    rgba(201, 128, 215, 1),
    rgb(1, 138, 166)
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes background-move {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.top-crypto-currencies .span1 {
  background: linear-gradient(45deg, rgba(201, 128, 215, 1), rgb(1, 138, 166));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  background-size: 200% 200%;
  animation: background-move 2s ease-in-out infinite;
}

.col-md-6 {
  width: 49% !important;
}

.col-md-5 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top-crypto-item a {
  text-decoration: none;
  color: #f0f0f0;
}

.top-crypto-item h3 {
  margin: 0 !important;
  margin-top: 10px !important;
}

.top-crypto-item h3 span {
  margin-left: 10px;
}

.positive {
  color: rgb(60, 239, 60);
  font-size: 24px;
  font-weight: bold;
}

.negative {
  color: rgb(255, 68, 68);
  font-size: 24px;
  font-weight: bold;
}

.top-crypto-items {
  margin-top: 20px !important;
  justify-content: center;
}

.top-crypto-item p {
  font-size: 25px;
  font-weight: bold;
}

.top-crypto-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.top-crypto-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .top-crypto-currencies h1 {
    font-size: 64px;
  }
  .top-crypto-currencies h1 span {
    font-size: 64px !important;
  }
}

@media screen and (max-width: 980px) {
  .top-crypto-currencies h1 {
    font-size: 56px;
  }
  .top-crypto-currencies h1 span {
    font-size: 56px !important;
  }
  .top-crypto-item h3 {
    font-size: 22px;
  }
  .top-crypto-item h3 span {
    font-size: 22px;
  }
  .top-crypto-item p {
    font-size: 20px;
  }
  .top-crypto-item {
    flex-basis: 48% !important;
  }
}
@media screen and (max-width: 620px) {
  .top-crypto-currencies h1 {
    font-size: 44px;
  }
  .top-crypto-currencies h1 span {
    font-size: 44px !important;
  }
  .top-crypto-currencies h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 460px) {
  .top-crypto-item {
    flex-basis: 100% !important;
  }
}
