@import "../../../variables.scss";

.introduction {
  background: linear-gradient(0deg, #070046, #2c0853);
  padding-top: 50px;
  align-items: center;
  color: $lightWhite;

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__content,
  &__images {
    flex-basis: 48%;
  }

  &__content {
    h1 {
      font-size: 70px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 24px;
      margin-top: 20px;
      line-height: 34px;
      margin-bottom: 35px;
    }
  }

  &__images {
    position: relative;

    &__main-img {
      width: 100%;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__coin-1,
    &__coin-2,
    &__coin-3,
    &__coin-4 {
      width: 70px;
      height: 70px;
      position: absolute;
      animation: up-down 3s linear infinite;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__coin-1,
    &__coin-3 {
      animation: up-down-2 3s linear infinite;
    }

    &__coin-1 {
      top: 30%;
      left: 0;
    }

    &__coin-2 {
      top: -10%;
      left: 30%;
    }

    &__coin-3 {
      top: 0;
      left: 60%;
    }

    &__coin-4 {
      top: 0;
      left: 90%;
    }
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes up-down-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@include media-large {
  .introduction__content {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .introduction__images {
    flex-basis: 70%;
  }
}

@include media-medium {
  .introduction__images {
    position: relative;

    &__main-img {
      width: 100%;
      height: 500px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__coin-1,
    &__coin-2,
    &__coin-3,
    &__coin-4 {
      width: 60px;
      height: 60px;
      position: absolute;
      animation: up-down 3s linear infinite;
    }

    &__coin-1 {
      top: 26%;
      left: -7%;
    }
  }
}

@include media-small {
  .introduction__images {
    flex-basis: 100%;
  }

  .introduction__images__coin-1 {
    left: -2%;
  }

  .introduction__images__coin-4 {
    left: 87%;
  }

  .introduction__content h1 {
    font-size: 50px;
  }

  .introduction__content p {
    font-size: 20px;
  }
}

@include media-extrasmall {
  .introduction__images {
    &__coin-1,
    &__coin-2,
    &__coin-3,
    &__coin-4 {
      width: 50px;
      height: 50px;
    }
  }
}
