.spinner-5 {
  width: 100px !important;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: s5 1s infinite linear;
  margin: 30px auto;
  padding: 0 !important;

  &::before,
  &::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: s5 2s infinite;
  }

  &::after {
    margin: 8px;
    animation-duration: 3s;
  }
}

.crypto-all-items .spinner-5 {
  margin-top: 30px;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn);
  }
}
