@import "../../variables.scss";

.crypto-item {
  height: 100px;
  border-bottom: 1px solid $lightWhite;

  a {
    text-decoration: none;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    color: $lightWhite;

    div {
      font-size: 22px;
      font-weight: 500;
      font-weight: bold;
    }

    div:first-child {
      flex-basis: 40%;
    }
  }

  &__price,
  &__change,
  &__cap {
    flex-basis: 20%;
  }

  &__change {
    .positive {
      color: $positive;
      font-size: 24px;
      font-weight: bold;
    }

    .negative {
      color: $negative;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__img-title {
    display: flex;
    align-items: center;
  }

  &__img-title p {
    display: inline-block;
  }

  &__cap {
    text-align: right;
  }

  &__image {
    display: inline-block;
    max-width: 60px;
    height: 60px;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@include media-large {
  .crypto-item {
    &__image,
    &__price,
    &__change span,
    &__cap p {
      font-size: 18px !important;
    }
    &__cap p {
      margin-bottom: 0 !important;
    }
  }
}

@include media-medium {
  .crypto-item {
    &__img-title {
      font-size: 18px !important;
    }
    &__price,
    &__change span,
    &__cap p {
      font-size: 16px !important;
    }
  }
}
