@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(201, 128, 215, 1);
  border: 1px solid #fff;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 5px;
}
